// Colours Variables
$black: #111;
$grey: #cecece;
$white: #ffffff;
$pureBlack: #000;
$darkGrey: #8f8f8f;
$lightGrey: #f5f5f5;
$lightBlack: #292929;
$lightGreyTwo: #fafafa;

// Main Colours
$primary: #660000;
$primary-two: #800000;
$primary-three: #a70101;
$primary-light: #eb0000;
$primary-dark: #a70107;
$primary-darker: #720004;

$tertiary-default: #f7a500;
$tertiary-two: #d89101;
$tertiary-three: #ec9e03;
$tertiary-dark: #b17701;

$tertiary-default: #f6ad37;
$tertiary-two: #e8b042;
$tertiary-dark: #d29300;
